@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DepartmentView"; }

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Department Details</h1>
                </div>
                <div class="col-sm-6" style="margin-top:10px;">
                    <a href="@Url.Action("DepartmentAdd","Department")">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle"></i></li>
                            <li>Add New Details</li>
                        </ol>
                    </a>
                </div>
                <div class="container-fluid">
                    <!-- <div class="row">
               <form>
                <button type="submit" class="btn btn-info" style="margin-left: 916px;margin-top: -56px;"><a href="about.html" style="color: white;">ADD NEW DETAILS</a></button>


                    </form>
            </div>
            </div> -->
                    <!-- <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">DataTables</li>
              </ol>
            </div> -->
                </div>
            </div>
        </div>
            <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title" style="font-size: 25px;">List Of Departments</h1>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Brach Code</th>
                                        <th>Branch Name</th>
                                        <th>Branch Image</th>
                                        <th>View</th>
                                        <th>Edit</th>
                                        <th>Delete</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Electronic And Communication</td>
                                        <td>Branch Image</td>
                                        <td>
                                            <a href="@Url.Action("DepartmentAllView","Department")"><i class="nav-icon fas fa-eye"></i></a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("DepartmentAdd","Department")"><i class="nav-icon fas fa-edit"></i></a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Electrical</td>
                                        <td>Branch Image</td>
                                        <td>
                                            <a href="@Url.Action("DepartmentAllView","Department")"><i class="nav-icon fas fa-eye"></i></a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("DepartmentAdd","Department")"><i class="nav-icon fas fa-edit"></i></a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>

                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Computer</td>
                                        <td>Branch Image</td>
                                        <td>
                                            <a href="@Url.Action("DepartmentAllView","Department")"><i class="nav-icon fas fa-eye"></i></a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("DepartmentAdd","Department")"><i class="nav-icon fas fa-edit"></i></a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Civil</td>
                                        <td>Branch Image</td>
                                        <td>
                                            <a href="@Url.Action("DepartmentAllView","Department")"><i class="nav-icon fas fa-eye"></i></a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("DepartmentAdd","Department")"><i class="nav-icon fas fa-edit"></i></a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Mechanical</td>
                                        <td>Branch Image</td>
                                        <td>
                                            <a href="@Url.Action("DepartmentAllView","Department")"><i class="nav-icon fas fa-eye"></i></a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("DepartmentAdd","Department")"><i class="nav-icon fas fa-edit"></i></a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Brach Code</th>
                                        <th>Branch Name</th>
                                        <th>Branch Image</th>
                                        <th>View</th>
                                        <th>Edit</th>
                                        <th>Delete</th>

                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>
<!-- /.container-fluid -->
<!-- /.content -->
