@model List<BACKEND_HTML_DOT_NET.Models.DepartmentVM>

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DepartmentAdd"; }

<div class="content-wrapper">
    <!-- <h3 style="margin-left: 15px;">DEPARTMENT</h3> -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("DepartmentView","Department")">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i></li>
                        <li style="margin-left: 00px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add new departments</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" id="department">
                        <div class="card-body">
                            <div class="row">
                               


                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="department">ENTER NAME OF DEPARTMENT</label>
                                        <input type="text" class="form-control" name="department" id="departmentName"
                                               placeholder="Enter name of Department.. " />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                   <label for="description">ENTER DESCRIPTION OF DEPARTMENT</label>
                                   <textarea type="text" name="description" class="form-control" id="description" rows="4" placeholder="Write content"></textarea>
                               </div>

                               <div class="col-md-6">
                                   <label for="message">ENTER MESSAGE OF DEPARTMENT</label>
                                   <textarea type="text" name="message" class="form-control" id="message" rows="4" placeholder="Write content"></textarea>
                               </div>

                               <div class="col-md-6">
                                   <label for="head">ENTER HEAD</label>
                                   <input type="number" class="form-control" name="head" id="head" />
                               </div>

                               <div class="col-md-6">
                                   <label for="slogan">ENTER SLOGAN OF DEPARTMENT</label>
                                   <textarea type="text" name="slogan" class="form-control" id="slogan" rows="4" placeholder="Write content"></textarea>
                               </div>

                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="exampleInputFile">CHOOSE IMAGE FOR DEPARTMENT</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" name="Image" class="custom-file-input" id="imageUpload">
                                                <label class="custom-file-label" for="exampleInputFile">
                                                    Choose
                                                    file
                                                </label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="">Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="input-group col-12">
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-primary float-right col-md-2" id="btnSubmit">
                                        Submit
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-default col-md-2">Clear</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

                                
@section script{
        <script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.min.js")" ></script>

<script type="text/javascript">

        $(document).ready(function () {
            $('#department').validate({
                rules: {
                    "departmentName": { required: true },
                    "description": { required: true },
                    "message": { required: true },
                    "slogan": { required: true },
                    "head": { required: true },
                    "InputFile": { required: true }
                },
                messages: {
                    "departmentName": { required: "this field is required" },
                    "description": { required: "this field is required" },
                    "message": { required: "this field is required" },
                    "head": { required: "this field is required" },
                    "slogan": { required: "this field is required" },
                    "InputFile": { required: "this field is required" }
                }
            });

            $('#btnSubmit').click(function (e) {

                if ($('#department').valid()) {

                    var departmentName = document.getElementById("departmentName").value;
                    var description = document.getElementById("description").value;
                    var message = document.getElementById("message").value;
                    var head = document.getElementById("head").value;
                    var slogan = document.getElementById("slogan").value;
                    

                    //var data = $('#department').serialize();
                    var data = new FormData();
                    var totalFiles = document.getElementById("imageUpload").files.length;
                    for (var i = 0; i < totalFiles; i++) {
                        var file = document.getElementById("imageUpload").files[i];
                        data.append("image", file);
                    }

                    data.append("name", departmentName);
                    data.append("description", description);
                    data.append("head", head);
                    data.append("message", message);
                    data.append("slogan", slogan);



                    console.log(data);

                        $.ajax({
                            url: '@Url.Action("DepartmentAdd","Department")',
                            type: 'post',
                            data: data,
                            processData: false,
                            contentType: false,
                            cache: false,
                            success: function (data) {
                                if (data.status_code == "200") {
                                    Swal.fire({
                                        title: "Added!",
                                        text: data.message,
                                        timer: 6000,
                                        type: "success"
                                    }).then(function () {
                                        $('#department')[0].reset();
                                        window.location.href = '@Url.Action("DepartmentList","Department")';
                                    });
                                }
                            }
                        });
                    
                }
            });
        });
</script>

}
@section styles{
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">
}