@model BACKEND_HTML_DOT_NET.Models.DepartmentVM

@{ Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Update Department";
}


<div class="content-wrapper">
    <!-- <h3 style="margin-left: 15px;">DEPARTMENT</h3> -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("DepartmentList","Department")">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i></li>
                        <li style="margin-left: 00px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Update Department</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" id="frmdepartment">
                        <div class="card-body">
                            <div class="row">

                                <input type="hidden" name="Id" id="Id" value="@Model.Id" />

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="department">Department Name</label>
                                        <input type="text" class="form-control" name="Name" id="Name" value="@Model.Name"
                                               placeholder="Enter name of Department.. " />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Head of Department</label>
                                        <select name="Head" id="Head" class="form-control">
                                            <option>Select Head</option>
                                            @foreach (var item in Model.FacultySelectList)
                                            {
                                                bool selected = item.Value == Model.Head.ToString() ? true : false;
                                                <option value="@item.Value" selected="@selected">@item.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="description">Description</label>
                                    <div id="summernote">@Html.Raw(Model.Description)</div>
                                </div>

                                <div class="col-md-6">
                                    <label for="message">Message from HOD</label>
                                    <div id="summernote2">@Html.Raw(Model.Message)</div>
                                </div>



                                <div class="col-md-6">
                                    <label for="slogan">Department's Slogan</label>
                                    <input type="text" name="Slogan" class="form-control" id="Slogan" placeholder="Write content" value="@Model.Slogan" />
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Image">Banner</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" name="Image" class="custom-file-input" id="Image">
                                                <label class="custom-file-label" for="Image">
                                                    Choose
                                                    file
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="input-group col-12">
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-primary float-right col-md-2" id="btnSubmit">
                                        Submit
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" id="btnclear" class="btn btn-default col-md-2">Reset</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>


@section script{
    @*<script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.min.js")"></script>*@
    <script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.js")"></script>

    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
            $('#summernote2').summernote();
        });

    </script>

    <script type="text/javascript">
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
        $(document).ready(function () {
            $('#frmdepartment').validate({
                rules: {
                    "Name": { required: true },
                    "Description": { required: true },
                    "Message": { required: true },
                    "Slogan": { required: true },
                    "Head": { required: true },

                },
                messages: {
                    "Name": { required: "this field is required" },
                    "Description": { required: "this field is required" },
                    "Message": { required: "this field is required" },
                    "Head": { required: "this field is required" },
                    "Slogan": { required: "this field is required" },

                }
            });

            $("#btnclear").click(function (e) {
                $("#frmdepartment")[0].reset();
                $("#summernote").summernote('reset');
                $("#summernote2").summernote('reset');
            });


            $('#btnSubmit').click(function (e) {

                if ($('#frmdepartment').valid()) {

                    var description = $("#summernote").summernote('code');
                    var hodMessage = $("#summernote2").summernote('code');

                    var departmentName = document.getElementById("Name").value;
                   
                    var head = document.getElementById("Head").value;
                    var slogan = document.getElementById("Slogan").value;
                    var id = $("#Id").val();


                    //var data = $('#department').serialize();
                    var data = new FormData();
                    var totalFiles = document.getElementById("Image").files.length;
                    for (var i = 0; i < totalFiles; i++) {
                        var file = document.getElementById("Image").files[i];
                        data.append("image", file);
                    }

                    data.append("Name", departmentName);
                    data.append("Description", description);
                    data.append("Head", head);
                    data.append("Message", hodMessage);
                    data.append("Slogan", slogan);
                    data.append("Id", id);


                    //console.log(data);
                    loaderStart();
                        $.ajax({
                            url: '@Url.Action("DepartmentEdit", "Department")',
                            type: 'post',
                            data: data,
                            processData: false,
                            contentType: false,
                            cache: false,
                            success: function (data) {
                                setTimeout(loaderStop(), 2000);
                                if (data.status_code == "200") {
                                    Toast.fire({
                                        icon: 'success',
                                        title: data.message
                                    }).then(function () {
                                        $('#frmdepartment')[0].reset();
                                        window.location.href = '@Url.Action("DepartmentList","Department")';
                                    });
                                }
                                else {
                                    Toast.fire({
                                        icon: 'error',
                                        title: data.message
                                    })
                                }
                            }
                        });

                }
            });
        });
    </script>

}
@section styles{
    @*<link rel="stylesheet" href="@Url.Content("~/css/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">*@
    <link href="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.css")" rel="stylesheet" />
}