@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SubjectEdit"; }

<div class="content-wrapper">
    <!-- <h3 style="margin-left: 15px;">DEPARTMENT</h3> -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("SubjectView","SubjectsLists")">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i></li>
                        <li style="margin-left: px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Subject</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="subjectadd" name="subjectadd" role="form">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">ENTER SUBJECT CODE</label>
                                        <input type="text" class="form-control" name="Code" value="@Model.Code" id="exampleInputEmail1"
                                               placeholder="Enter code.. ">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>SELECT DEPARTMENT</label>
                                        <select name="Department" class="form-control">
                                            <option selected>@Model.Department</option>
                                            <option> ELECTRONIC AND COMMUNICATION</option>
                                            <option> COMPUTER</option>
                                            <option> ELECTRICAL</option>
                                            <option> CIVIL</option>
                                            <option> MECHANICAL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>SELECT SEMESTER</label>
                                        <select name="Semester" class="form-control">
                                            <option selected>@Model.Semester</option>
                                            <option> 1</option>
                                            <option> 2</option>
                                            <option> 3</option>
                                            <option> 4</option>
                                            <option> 5</option>
                                            <option> 6</option>
                                            <option> 7</option>
                                            <option> 8</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">ENTER NAME OF THE SUBJECT</label>
                                        <input type="text" name="Subject1" value="@Model.Subject1" class="form-control" id="exampleInputEmail1"
                                               placeholder="Enter name.. ">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">ENTER ACRONYM FOR THE SUBJECT</label>
                                        <input name="Acronym" type="text" value="@Model.Acronym" class="form-control" id="exampleInputEmail1"
                                               placeholder="Enter name.. ">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        
                    </form>

                    <div class="card-footer">
                                    <div class="input-group col-12">
                                        <div class="col-sm-6"><button type="button" id="btnSubmit" class="btn btn-primary float-right col-md-2">Submit</button></div>
                                        <div class="col-sm-6"><button type="button" class="btn btn-default col-md-2">Clear</button></div>
                                    </div>
                                </div>
                </div>
            </div>
        </div>
    </section>
</div>

                                                               
@section script{

    <script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-responsive/js/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/jszip/jszip.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/pdfmake/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/pdfmake/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.colVis.min.js")"></script>

<script type="text/javascript">


    $(document).ready(function() {
        //console.log( "ready!" );

        $('#subjectadd').validate({
          rules: {
            "Code": {
                 required: true                
             },
             "Department": {
                 required: true
             },
             "Semester":{
                 required: true,
             },
             "head": {
                    required: true
                },
               
                "Subject1": {
                    required: true
                },
                "Acronym":{
                    required: true
                }

          },
          messages: {
                    "Code": {
                 required: "this field is required"
             },
                    "Department": {
                 required: "this field is required"
             },
                    "Semester": {
                  required: "this field is required"
             },
             "head":{
                  required: "this field is required"
             },
                    "Subject1": {
                   required: "this field is required"
                },
                    "Acronym": {
                     required: "this field is required"
                }

          }
         

        });

            $('#btnSubmit').click(function (e) {

        //prevent Default functionality
        e.preventDefault();
        //alert( "firee!" );

        //get the action-url of the form
        //var actionurl = e.currentTarget.action;

        //do your own request an handle the results
        if($('#subjectadd').valid()){
                    var data = new FormData($('#subjectadd')[0]);


                    $.ajax({
                        url: '@Url.Action("SubjectEdit","SubjectsLists")',
                        type: 'post',
                        processData: false,
                        contentType: false,
                        cache: false,
                        data: data,
                        success: function (data) {
                                console.log(data);

                            if (data.status_code == "200") {
                                Swal.fire({
                                    title: "Added!",
                                    text: data.message,
                                    timer: 6000,
                                    icon: "success"
                                }).then(function () {
                                    $('#subjectadd')[0].reset();
                                    window.location.href = '@Url.Action("SubjectView","SubjectsLists")';
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "Failed!",
                                    text: data.message,
                                    timer: 6000,
                                    icon: "error"
                                });
                            }
                        }
                    });


        }

    });


    });

</script>

}
    @section styles{
    @*<link rel="stylesheet" href="@Url.Content("~/css/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">*@
    <link href="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.css")" rel="stylesheet" />
}