@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CompanyAdd";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Add New Company</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <a href="@Url.Action("CompanyList","CompanyDetails")">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle"></i></li>
                            <li>Back To Details</li>
                        </ol>
                    </a>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- your contents here -->
                    <!-- form start -->
                    <div class="card card-primary">
                        <form role="form" id="companyDetail">
                            <div class="card-body">
                                <div class="form-group row justify-content-center">
                                    <div class="col-11">
                                        <!---->
                                        <div class="input-group">

                                            <input type="hidden" name="Id" id="Id" value="@Model.Id" />

                                            <div class="col-md-6 p-2">
                                                <label for="companyName">Company Title</label>
                                                <input type="text" class="form-control" id="companyTitle" value="@Model.Title">
                                            </div>
                                            <div class="col-md-6 p-2">
                                                <label for="companyName">Company Relevent Department</label>
                                                <select name="Department" id="rDepartment" class="form-control">
                                                    <option>Select Department</option>
                                                    @foreach (var item in Model.DepartmentList)
                                                    {
                                                        bool selected = item.Value == Model.RelevantDepartments.ToString() ? true : false;
                                                        <option value="@item.Value" selected="@selected"> @item.Text</option>
                                                    }
                                                </select>
                                            </div>

                                            <div class="col-md-6 p-2">
                                                <label for="description">Description</label>
                                                <div id="summernote">@Html.Raw(Model.Description)</div>
                                            </div>



                                            <div class="form-group col-md-6 p-2 ">
                                                <label for="exampleInputFile">Upload Company Image</label>
                                                <div class="input-group">
                                                    <div class="custom-file p-2">
                                                        <input type="file" class="custom-file-input" id="Image">
                                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="">Upload</span>
                                                    </div>
                                                </div>

                                                <label for="exampleInputFile">Upload Company Logo</label>
                                                <div class="input-group" >
                                                    <div class="custom-file p-2">
                                                        <input type="file" class="custom-file-input" id="logo">
                                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <div class="input-group col-12">
                                    <div class="col-sm-6"><button id="btnSubmit" type="button" class="btn btn-primary float-right col-md-2">Reset</button></div>
                                    <div class="col-sm-6"><button type="button" class="btn btn-default col-md-2" id="btnclear">Clear</button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


@section script{
    <script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.min.js")"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote();

        });

    </script>

    <script type="text/javascript">

        $(function () {
            bsCustomFileInput.init();
        });
        $(document).ready(function () {
            $('#companyDetail').validate({
                rules: {
                    "companyTitle": { required: true },
                    "Description": { required: true },
                    "rDepartment": { required: true },
                    "Image": { required: true },
                    "logo": { required: true }
                },
                messages: {
                    "companyTitle": { required: "this field is required" },
                    "Description": { required: "this field is required" },
                    "rDepartment": { required: "this field is required" },
                    "Image": { required: "this field is required" },
                    "logo": { required: "this is field is required" }
                }
            });

            $('#btnSubmit').click(function (e) {

                if ($('#companyDetail').valid()) {

                    var companyTitle = document.getElementById("companyTitle").value;
                    var description = $("#summernote").summernote('code');
                    var rDepartment = document.getElementById("rDepartment").value;
                    var id = $("#Id").val();


                    //var data = $('#department').serialize();
                    var data = new FormData();

                    var image = document.getElementById("Image").files.length;
                    for (var i = 0; i < image; i++) {
                        var file = document.getElementById("Image").files[i];
                        data.append("Image", file);
                    }
                    var logo = document.getElementById("logo").files.length;
                    for (var i = 0; i < logo; i++) {
                        var file = document.getElementById("logo").files[i];
                        data.append("Logo", file);
                    }

                    data.append("Title", companyTitle);
                    data.append("Description", description);
                    data.append("RelevantDepartments", rDepartment)
                    data.append("Id", id);


                    console.log(data);

                    $.ajax({
                        url: '@Url.Action("CompanyEdit", "CompanyDetails")',
                        type: 'post',
                        data: data,
                        processData: false,
                        contentType: false,
                        cache: false,
                        success: function (data) {
                            if (data.status_code == "200") {
                                Swal.fire({
                                    title: "Added!",
                                    text: data.message,
                                    timer: 6000,
                                    icon: "success"
                                }).then(function () {
                                    $('#companyDetail')[0].reset();
                                    window.location.href = '@Url.Action("CompanyList","CompanyDetails")';
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "Failed!",
                                    text: data.message,
                                    timer: 6000,
                                    icon: "error"
                                });
                            }
                        }
                    });

                }
            });

            $("#btnclear").click(function (e) {
                $("#companyDetail")[0].reset();
            });
        });
    </script>

}
    @section styles{
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">
}