@model List<BACKEND_HTML_DOT_NET.Models.DesignationVM>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DesignationList";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Gallery Details</h1>
                </div>
                <div class="col-sm-6" style="margin-top:10px;">
                    <a href="@Url.Action("DesignationAdd","DesignationCon")">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle"></i></li>
                            <li>Add New Details</li>
                        </ol>
                    </a>
                </div>
                <div class="container-fluid">
                    <!-- <div class="row">
                       <form>
                        <button type="submit" class="btn btn-info" style="margin-left: 916px;margin-top: -56px;"><a href="about.html" style="color: white;">ADD NEW DETAILS</a></button>


                            </form>
                    </div>
                    </div> -->
                    <!-- <div class="col-sm-6">
                      <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                      </ol>
                    </div> -->
                </div>
            </div>
            <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title" style="font-size: 25px;">List Of Gallery </h1>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="Gallery" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Class</th>
                                        <th>Payband</th>
                                        @*<th>View</th>*@
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model){
                                    <tr>
                                        <td>
                                            @item.Id
                                        </td>
                                        <td>
                                            @item.Title
                                        </td>
                                        <td>
                                            @item.Class
                                        </td>
                                        <td>
                                            @item.Payband
                                        </td>
                                         @*<td>
                                                <a href="@Url.Action("DesignationView","DesignationCon",new {@id=item.Id})" class="nav-icon fas fa-edit"></a>
                                        </td>*@
                                        <td>
                                                <a href="@Url.Action("DesignationEdit","DesignationCon",new {@id=item.Id})" class="nav-icon fas fa-edit"></a>
                                        </td>
                                        <td>
                                                <a href="javascript:void(0)" onclick="DeleteGallery(@item.Id)"><i class="nav-icon fas fa-trash"></i></a>

                                        </td>
                                    </tr>
                                  }  
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Class</th>
                                        <th>Payband</th>
                                        @*<th>View</th>*@
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </section>
        <!-- /.row -->
</div>
<!-- /.container-fluid -->
@section script{
    <script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-responsive/js/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/jszip/jszip.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/pdfmake/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/pdfmake/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.colVis.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            $("#Gallery").DataTable({ "responsive": true, "lengthChange": false, "autoWidth": false});


        });
        function DeleteGallery(id) {

            Swal.fire({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }).then(function (isConfirm) {

                if (!isConfirm) return;
                if (id != null) {
                    $.ajax({
                        url: '@Url.Action("DesignationDelete","DesignationCon")',
                        type: 'post',
                        data: { id: id },
                        success: function (data) {
                            if (data.status_code == "200") {
                                Swal.fire({
                                    title: "Deleted!",
                                    text: data.message,
                                    timer: 6000,
                                    icon: "success"
                                }).then(function () {
                                    window.location.reload();
                                });
                            }

                        }
                    });
                }

            });

        }
    </script>
}
    @section styles{
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">
}