@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AchievementsAdd"; 
}

<div class="content-wrapper">


    <!-- Main content -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("AchievementsView","Achievements")">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i></li>
                        <li style="margin-left: px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-12">
                            <!--ur contents here-->
                            <!-- jquery validation -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Edit Achievements </h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form role="form" id="achimentDetails">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <div class="input-group">

                                                <input type="hidden" name="Id" id="Id" value="@Model.Id" />

                                                <div class="col-4">
                                                    <label for="Title"> Enter Title</label>
                                                    <input type="text" class="form-control" value="@Model.Title" id="title" name="title" placeholder="Enter Title">
                                                </div>

                                                <div class="col-4">
                                                    <label for="Title"> Enter tag</label>
                                                    <input type="text" class="form-control" id="tag" value="@Model.Tag" name="tag" placeholder="Enter tag">
                                                </div>

                                                <div class="col-4">
                                                    <label for="Title"> Enter Achievement date</label>
                                                    <input type="date" class="form-control" id="date" name="date" value="@Model.Date" placeholder="Enter Achievement Date">
                                                </div>
                                                </div> 
                                                <div class="row p-2">
                                                <div class="col-md-6">
                                                    <label for="description">ENTER DESCRIPTION</label>
                                                    <<div id="summernote">@Html.Raw(Model.Description)</div>
                                                </div>
                                                
                                                <div class="co-md-4">
                                                    <label for="exampleInputFile">Enter Image File </label>
                                                    <div class="input-group">
                                                        <div class="custom-file ">
                                                            <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="Image" name="Image" >
                                                            <label class="custom-file-label" for="exampleInputFile">
                                                                Choose
                                                                file
                                                            </label>
                                                        </div>
                                                        <div class="input-group-append">
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        
                                    </div>

                                </form>

                                <div class="card-footer">
                                    <div class="input-group col-12">
                                        <div class="col-sm-6"><button type="button" id="btnSubmit" class="btn btn-primary float-right col-md-2">Update</button></div>
                                        <div class="col-sm-6"><button type="button" class="btn btn-default col-md-2" id="btnclear">Clear</button></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

@section script{
    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>
    @*<script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.min.js")"></script>*@
    <script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.js")"></script>
    <script type="text/javascript">
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
        $(document).ready(function () {
            $('#achimentDetails').validate({
                rules: {
                    "title": { required: true },
                    "description": { required: true },
                    "data": { required: true },
                    "tag": { required: true }

                },
                messages: {
                    "title": { required: "this field is required" },
                    "description": { required: "this field is required" },
                    "tag": { required: "this field is required" },
                    "data": { required: "this field is required" }

                }
            });

            $('#btnSubmit').click(function (e) {

                if ($('#achimentDetails').valid()) {

                    var Id = document.getElementById("Id").value;
                    var Title = document.getElementById("title").value;
                    var tag = document.getElementById("tag").value;
                    var date = document.getElementById("date").value;
                    var description = $("#summernote").summernote('code');

                    var data = new FormData();
                    var totalFiles = document.getElementById("Image").files.length;
                    for (var i = 0; i < totalFiles; i++) {
                        var file = document.getElementById("Image").files[i];
                        data.append("image", file);
                    }

                    data.append("Title", Title);
                    data.append("Id", Id);
                    data.append("Tag", tag);
                    data.append("Date", date);
                    data.append("Description", description);


                    //console.log(data);
                    //loaderStart();
                    $.ajax({
                        url: '@Url.Action("AchievementsEdit","Achievements")',
                        type: 'post',
                        processData: false,
                        contentType: false,
                        cache: false,
                        data: data,
                        success: function (data) {
                            if (data.status_code == "200") {
                                console.log("Success")
                                Swal.fire({
                                    title: "Added!",
                                    text: data.message,
                                    timer: 6000,
                                    icon: "success"
                                }).then(function () {
                                    $('#campusadd')[0].reset();
                                    window.location.href = '@Url.Action("AchievementsView","Achievements")';
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "Failed!",
                                    text: data.message,
                                    timer: 6000,
                                    icon: "error"
                                });
                            }
                        }
                    });

                }
            });

            $("#btnclear").click(function (e) {
                $("#achimentDetails")[0].reset();
            });
        });
    </script>

}
    @section styles{
    @*<link rel="stylesheet" href="@Url.Content("~/css/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">*@
    <link href="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.css")" rel="stylesheet" />
}