@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AchievementsListView"; 
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title" style="font-size: 25px;">
                                Achievements Details
                            </h1>
                            <ol class="breadcrumb float-sm-right">
                                <li>
                                    <a href="@Url.Action("AchievementsAdd","Achievements")">
                                        <i class="nav-icon fas fa-plus-circle">
                                            Click
                                            to add details
                                        </i>
                                    </a>
                                </li>
                            </ol>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Description</th>
                                        <th>Edit</th>
                                        <th>Delete</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Computer lab no. 313.</td>
                                        <td>lab</td>
                                        <td>This is the Description of Computer Department Lab no. 313</td>
                                        <td>
                                            <a href="@Url.Action("AchievementsView","Achievements")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Computer lab no. 313.</td>
                                        <td>lab</td>
                                        <td>This is the Description of Computer Department Lab no. 313</td>

                                        <td>
                                            <a href="@Url.Action("AchievementsView","Achievements")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Computer lab no. 313.</td>
                                        <td>lab</td>
                                        <td>This is the Description of Computer Department Lab no. 313</td>

                                        <td>
                                            <a href="@Url.Action("AchievementsView","Achievements")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Computer lab no. 313.</td>
                                        <td>lab</td>
                                        <td>This is the Description of Computer Department Lab no. 313</td>

                                        <td>
                                            <a href="@Url.Action("AchievementsView","Achievements")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Computer lab no. 313.</td>
                                        <td>lab</td>
                                        <td>This is the Description of Computer Department Lab no. 313</td>

                                        <td>
                                            <a href="@Url.Action("AchievementsView","Achievements")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Computer lab no. 313.</td>
                                        <td>lab</td>
                                        <td>This is the Description of Computer Department Lab no. 313</td>

                                        <td>
                                            <a href="@Url.Action("AchievementsView","Achievements")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Computer lab no. 313.</td>
                                        <td>lab</td>
                                        <td>This is the Description of Computer Department Lab no. 313</td>

                                        <td>
                                            <a href="@Url.Action("AchievementsView","Achievements")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Computer lab no. 313.</td>
                                        <td>lab</td>
                                        <td>This is the Description of Computer Department Lab no. 313</td>

                                        <td>
                                            <a href="@Url.Action("AchievementsView","Achievements")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Computer lab no. 313.</td>
                                        <td>lab</td>
                                        <td>This is the Description of Computer Department Lab no. 313</td>

                                        <td>
                                            <a href="@Url.Action("AchievementsView","Achievements")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>
<!-- /.container-fluid -->
        
