@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AttachmentsAdd"; }

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Add Attachments</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                            <a href="@Url.Action("AttachmentsView","Attachments")">
                    <ol class="breadcrumb float-sm-right">
                        <li>
                                <i class="nav-icon fas fa-plus-circle">
                                    Back to Attachments Details
                                </i>
                            </a>
                        </li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-8">
                    <!--ur contents here-->
                    <!-- form start -->
                    <div class="card card-primary">
                        <form role="form" id="Attachments">
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="fileName">Name Of File</label>
                                    <input type="text" class="form-control" id="fileName" name="Name" placeholder="Enter file name">
                                </div>

                                <div class="form-group">
                                    <label for="fileName">Title</label>
                                    <input type="text" class="form-control" id="title" name="Title" placeholder="Enter title name">
                                </div>

                                <div class="form-group">
                                    <label for="fileName">Type Of File</label>
                                    <input type="text" class="form-control" id="type" name="Type" placeholder="Enter type">
                                </div>

                                <div class="col-md-6">
                                   <label for="description">ENTER DESCRIPTION</label>
                                    <div id="summernote"></div>
                               </div>

                               <div class="form-group">
                                    <label for="fileName">News</label>

                                    <select name="news" id="newsId" class="form-control">
                                        <option>Select News</option>
                                        @foreach (var item in Model.NewsSelectList)
                                        {
                                            <option value="@item.Value"> @item.Text</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputFile">File Upload</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="InputFile" name="InputFile">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text">Upload</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <div class="input-group col-12">
                                    <div class="col-sm-6"><button type="button" id="btnSubmit" class="btn btn-primary float-right">Submit</button></div>
                                    <div class="col-sm-6"><button type="button" class="btn btn-default">Clear</button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section script{
    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });
    </script>
    <script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-responsive/js/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/jszip/jszip.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/pdfmake/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/pdfmake/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.colVis.min.js")"></script>
<script type="text/javascript">


    $(document).ready(function() {
        //console.log( "ready!" );

        $('#Attachments').validate({
          rules: {
            "Name": {
                 required: true                
             },
             "Title": {
                 required: true
             },
                "Type": {
                    required: true
                },
             "Description":{
                 required: true
                 
             },
                    "news": {
                    required: true
                },
                "InputFile":{
                    required: true
                }

          },
          messages: {
            "Name": {
                 required: "this field is required"             
             },
             "Title": {
                 required: "this field is required"
             },
              "Type": {
                 required: "this field is required"
              },
             "Description":{
                  required: "this field is required"
             },
                    "news": {
                   required: "this field is required"
                },
                "InputFile":{
                     required: "this field is required"
                }

          }
         

        });

        $('#btnSubmit').click(function(e) {

        //prevent Default functionality
        e.preventDefault();

        if($('#Attachments').valid()){
                    var title = document.getElementById("title").value;
                    var name = document.getElementById("fileName").value;
                    var news = document.getElementById("newsId").value;
                    var type = document.getElementById("type").value;

                    var description = $("#summernote").summernote('code');

                    var data = new FormData();
                    var totalFiles = document.getElementById("InputFile").files.length;
                    for (var i = 0; i < totalFiles; i++) {
                        var file = document.getElementById("InputFile").files[i];
                        data.append("InputFile", file);
                    }

                    data.append("Title", title);
                    data.append("Name", fileName);
                    data.append("Type", type);
                    data.append("PageId", news);
                    data.append("Description", description);



                    console.log(data);


                    $.ajax({
                        url: '@Url.Action("AttachmentsAdd","Attachments")',
                        type: 'post',
                        processData: false,
                        contentType: false,
                        cache: false,
                        data: data,
                        success: function (data) {
                            if (data.status_code == "200") {
                                console.log("Success")
                                Swal.fire({
                                    title: "Added!",
                                    text: data.message,
                                    timer: 6000,
                                    icon: "success"
                                }).then(function () {
                                    $('#Attachments')[0].reset();
                                    window.location.href = '@Url.Action("AttachmentsView","Attachments")';
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "Failed!",
                                    text: data.message,
                                    timer: 6000,
                                    icon: "error"
                                });
                            }
                        }
                    });

        }

    });


    });

</script>

}
    @section styles{
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">
}