@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AttachmentsView"; }

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">View Attachments Details</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li>
                            <a href="@Url.Action("AttachmentsAdd","Attachments")">
                                <i class="nav-icon fas fa-plus-circle">
                                    Click to
                                    add Attachments
                                </i>
                            </a>
                        </li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Rani ki Wav Before Cleaning </td>
                                        <td>
                                            <a href="@Url.Action("AttachmentsAdd","Attachments")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Rani ki Wav After Cleaning </td>
                                        <td>
                                            <a href="@Url.Action("AttachmentsAdd","Attachments")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Rani ki Wav Before Cleaning </td>
                                        <td>
                                            <a href="@Url.Action("AttachmentsAdd","Attachments")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Rani ki Wav After Cleaning </td>
                                        <td>
                                            <a href="@Url.Action("AttachmentsAdd","Attachments")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Rani ki Wav Before Cleaning </td>
                                        <td>
                                            <a href="@Url.Action("AttachmentsAdd","Attachments")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Rani ki Wav After Cleaning </td>
                                        <td>
                                            <a href="@Url.Action("AttachmentsAdd","Attachments")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Rani ki Wav Before Cleaning </td>
                                        <td>
                                            <a href="@Url.Action("AttachmentsAdd","Attachments")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Rani ki Wav After Cleaning </td>
                                        <td>
                                            <a href="@Url.Action("AttachmentsAdd","Attachments")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Rani ki Wav Before Cleaning </td>
                                        <td>
                                            <a href="@Url.Action("AttachmentsAdd","Attachments")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Rani ki Wav After Cleaning </td>
                                        <td>
                                            <a href="@Url.Action("AttachmentsAdd","Attachments")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Rani ki Wav Before Cleaning </td>
                                        <td>
                                            <a href="@Url.Action("AttachmentsAdd","Attachments")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Rani ki Wav After Cleaning </td>
                                        <td>
                                            <a href="@Url.Action("AttachmentsAdd","Attachments")">
                                                <i class="nav-icon fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!--ur contents here-->
                </div>
            </div>
        </div>
    </section>

</div>