@using System.Web
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AboutCollegeView";
    var college = Model;
}

<div class="content-wrapper">
    <!-- <h3 style="margin-left: 15px;">DEPARTMENT</h3> -->
    <section class="content" style="margin-top:20px;">
        @foreach(var item in Model){
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb float-sm-right">
                    @*@if(item.Id != 1){
                    <li style="margin-left: 00px;">
                        <a href="@Url.Action("AboutCollegeAdd","AboutCollege")">
                            <i class="nav-icon fas fa-plus-circle"></i>
                        </a>
                    </li>
                    <li style="margin-left: px;"><a href="@Url.Action("AboutCollegeAdd","AboutCollege")">Add Details</a></li>
                    }*@
                </ol>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">About College</h3>
                    </div>
                    

                    <div class="card-body">
                        <div class="raw">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="input-group justify-content-center">
                                        <div class="col-8">
                                            <img alt="college" width="100%" class="img-thumbnail"
                                                 src="@item.Image" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <label class="h4 text-danger">
                                        ABOUT COLLEGE
                                    </label>
                                    <hr>
                                </div>
                                <div>
                                    <span>
                                            @Html.Raw(HttpUtility.HtmlDecode(item.Description))
                                    </span>
                                </div>
                                <div class="mt-5">
                                    <span>
                                        <span class="font-weight-bold">Principal : </span>
                                            @item.Principal
                                    </span>
                                </div>
                                <div class="mt-3">
                                    <span>
                                        <span class="font-weight-bold">PrincipalMessage : </span>
                                            @Html.Raw(HttpUtility.HtmlDecode(item.PrincipalMessage))
                                    </span>
                                </div>
                                <div class="mt-3">
                                    <span>
                                        <span class="font-weight-bold">Address : </span>
                                            @item.Address
                                    </span>
                                </div>
                                <div class="mt-3">
                                    <span>
                                        <span class="font-weight-bold">Phone : </span>
                                            @item.Phone
                                    </span>
                                </div>
                                <div class="mt-3">
                                    <span>
                                        <span class="font-weight-bold">Email : </span>
                                            @item.Email
                                    </span>
                                </div>
                            </div>
                            <div class="input-group col-md-12 mt-4">
                                <div class="col-sm-6">
                                    <a href="@Url.Action("AboutCollegeEdit","AboutCollege", new { @id = item.Id})" class="btn btn-primary float-right">Edit</a>
                                    @if(item.Id == 0){
                                        <a href="@Url.Action("AboutCollegeAdd","AboutCollege", new { @id = item.Id})" class="btn btn-primary float-right ">Add</a>
                                    }
                                </div>
                            </div>
                            
                                <div class="input-group col-md-12 mt-4">
                                </div>

                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

            </div>
        </div>
                    }
    </section>
</div>
