@model BACKEND_HTML_DOT_NET.Models.CircularVM
@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CircularEdit";
}

<div class="content-wrapper">
    <!-- <h3 style="margin-left: 15px;">DEPARTMENT</h3> -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("CircularList","Circular")">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i></li>
                        <li style="margin-left: px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Designation</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" id="gallery" asp-action="GalleryAdd" asp-controller="CollegeGallery" method="post" >
                        <div class="card-body">
                            <div class="input-group row align-items-center p-3 d-flex justify-content-center">
                                <div class="col-md-12 col align-self-start">
                                    <label for="fileName">Title</label>
                                    <input type="text" class="form-control" id="Title" value="@Model.Title" name="Title" placeholder="Enter Title">
                                </div>
                            </div>
                            <div class="input-group row align-items-center p-3 d-flex justify-content-center">
                                <div class="col-md-12 col align-self-start">
                                    <label for="fileName">Description</label>
                                    <textarea type="text" class="form-control" id="Description" name="Description" rows="4" placeholder="Write content">@Model.Description</textarea>
                                </div>
                            </div>
                                @*<div class="form-group">
                                    <label for="fileName">Date</label>
                                    <input type="text" class="form-control" id="Title" name="Date" value="@Model.Date" placeholder="Enter Date">
                                </div>*@

                            
                        </div>

                        

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="input-group col-12">
                                <div class="col-sm-6"><button type="button" id="btnGallery" class="btn btn-primary float-right col-md-2">Submit</button></div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-default col-md-2" id="btnclear">Clear</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </section>
</div>

@section script{
    <script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-responsive/js/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/jszip/jszip.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/pdfmake/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/pdfmake/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.colVis.min.js")"></script>
<script type="text/javascript">


    $(document).ready(function() {
            $('#Description').summernote()
        //console.log( "ready!" );

            $('#gallery').validate({
                rules: {

                    "Title": {
                        required: true
                    },
                    "Description": {
                        required: true
                    }
                },
                messages: {
                    "Title": {
                        required: "this felid is required"
                    },
                    "Description": {
                        required: "this felid is required"
                    }
                }


            });

            $('#btnGallery').click(function (e) {
               // alert("enterted");
        //prevent Default functionality
        e.preventDefault();


        if($('#gallery').valid()){

                    var data = new FormData($('#gallery')[0]);
            
             $.ajax({
                        url: '@Url.Action("CircularEdit","Circular")',
                    type: 'post',
                    processData: false,
                    contentType: false,
                    cache: false,
                    data: data,
                    success: function(data) {
                            if (data.status_code == "200") {
                                console.log("Success")
                                Swal.fire({
                                    title: "Added!",
                                    text: data.message,
                                    timer: 6000,
                                    icon: "success"
                                }).then(function () {
                                    $('#gallery')[0].reset();
                                    window.location.href = '@Url.Action("CircularList","Circular")';
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "Failed!",
                                    text: data.message,
                                    timer: 6000,
                                    icon: "error"
                                });
                            }
                    }
            });
        }

        

    });


    });
        $("#btnclear").click(function (e) {
            $("#gallery")[0].reset();
            $('#Description').summernote('reset');



        });
</script>
}
    @section styles{    
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">
}