@model BACKEND_HTML_DOT_NET.Models.CommitteeVM

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "WomenCellView"; }

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">View Women cell Details</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6" style="margin-top:10px;">
                    <a href="@Url.Action("WomenCellEdit","WomenCell")">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle"></i></li>
                            <li>Click to Edit Details</li>
                        </ol>
                    </a>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <h2>@Model.Name</h2>
                                <br>
                                <h4>Committee ID : @Model.CommitteeId</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <h4>Slogan</h4>
                                    <span>
                                      @Model.Slogan
                                    </span>
                                </div>


                                <div class="form-group">
                                    <div class="sub-obj">
                                        <img src="@Model.Image" class="rimg" style="width:500px; hight:400px" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <h4>Description</h4>
                                    <span>
                                        @Model.Description
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>