<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/fontawesome-free/css/all.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")">
    <!-- iCheck -->
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/icheck-bootstrap/icheck-bootstrap.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/css/adminlte.min.css")">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/daterangepicker/daterangepicker.css")">
    <!-- summernote -->
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/summernote/summernote-bs4.css")">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        @{Html.RenderPartial("_header");}

        @{Html.RenderPartial("_sidebar");}

        @RenderBody()

        @{Html.RenderPartial("_footer");}
    </div>

    <!-- jQuery -->
    @*<script src="@Url.Content("~/css/plugins/jquery/jquery.min.js")"></script>*@
    <script src="~/lib/jquery~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery~/lib/jquery-validation/dist/jquery.validation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="@Url.Content("~/css/plugins/jquery-ui/jquery-ui.min.js")"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="@Url.Content("~/css/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- ChartJS -->
    <script src="@Url.Content("~/css/plugins/chart.js/Chart.min.js")"></script>
    <!-- Sparkline -->
    <script src="@Url.Content("~/css/plugins/sparklines/sparkline.js")"></script>
    <!-- JQVMap -->
    @*<script src="@Url.Content("~/css/plugins/jqvmap/jquery.vmap.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/jqvmap/maps/jquery.vmap.usa.js")"></script>*@
    <!-- jQuery Knob Chart -->
    <script src="@Url.Content("~/css/plugins/jquery-knob/jquery.knob.min.js")"></script>
    <!-- daterangepicker -->
    <script src="@Url.Content("~/css/plugins/moment/moment.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/daterangepicker/daterangepicker.js")"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="@Url.Content("~/css/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js")"></script>
    <!-- Summernote -->
    <script src="@Url.Content("~/css/plugins/summernote/summernote-bs4.min.js")"></script>
    <!-- overlayScrollbars -->
    <script src="@Url.Content("~/css/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/js/adminlte.js")"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="@Url.Content("~/js/pages/dashboard.js")"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/js/demo.js")"></script>
    @RenderSection("script", required: false)

</body>

</html>

