<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../dashboard/dashboard.html" class="brand-link">
        <img src="@Url.Content("~/img/gecplogo.jpg")" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">GEC PATAN</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item">
                    <a href="@Url.Action("Index","Home")" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("AboutCollegeView","AboutCollege")" class="nav-link">
                        <i class="nav-icon fas fa-university"></i>
                        <p>
                            About College
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("CampusView","Campus")" class="nav-link">
                        <i class="nav-icon fas fa-graduation-cap"></i>
                        <p>
                            Campus
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("FacultyView","FacultyDetails")" class="nav-link">
                        <i class="nav-icon fa fa-users"></i>
                        <p>
                            Faculty Details
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("DepartmentView","Department")" class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p>
                            Department
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("SubjectView","SubjectsLists")" class="nav-link">
                        <i class="nav-icon fas fa-book-open"></i>
                        <p>
                            Subjects Lists
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("LabWorkshopsView","LabWorkshops")" class="nav-link">
                        <i class="nav-icon fa fa-cogs"></i>
                        <p>
                            Lab and workshops
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("AttachmentsView","Attachments")" class="nav-link">
                        <i class="nav-icon fa fa-folder-open"></i>
                        <p>
                            Attachments
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("CompanyView","CompanyDetails")" class="nav-link">
                        <i class="nav-icon fas fa-industry"></i>
                        <p>
                            Company Details
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="@Url.Action("PlacementView","PlacementCell")" class="nav-link">
                        <i class="nav-icon fas fa-bullhorn"></i>
                        <p>
                            Placement cell
                            <i class="nav-icon right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("PlacementView","PlacementCell")" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Placement Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("PlacementMemberView","PlacementCell")" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Members Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("PlacementAttachmentsView","PlacementCell")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Files Attachments</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="@Url.Action("WomenCellView","WomenCell")" class="nav-link">
                        <i class="nav-icon fa fa-female"></i>
                        <p>
                            Women cell
                            <i class="nav-icon right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("WomenCellView","WomenCell")" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Women Cell Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("WomenCellMembersDetails","WomenCell")" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Members Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("WomenCellAttachmentsView","WomenCell")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Files Attachments</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="@Url.Action("SSIPView","SSIPCell")" class="nav-link">
                        <i class="nav-icon fa fa-cube"></i>
                        <p>
                            SSIP cell
                            <i class="nav-icon right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("SSIPView","SSIPCell")" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>SSIP Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("SSIPMemberDetails","SSIPCell")" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Members Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("SSIPAttachmentsView","SSIPCell")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Files Attachments</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="@Url.Action("AntiRaggingView","AntiRaggingCell")" class="nav-link">
                        <i class="nav-icon fa fa-male"></i>
                        <p>
                            Anti Ragging cell
                            <i class="nav-icon right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("AntiRaggingView","AntiRaggingCell")" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Anti Ragging Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("AntiRaggingMembersDetails","AntiRaggingCell")" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Members Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("AntiRaggingAttachmentsView","AntiRaggingCell")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Files Attachments</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="@Url.Action("GreivanceCellView","GrievanceCell")" class="nav-link">
                        <i class="nav-icon fas fa-user-edit"></i>
                        <p>
                            Grievance cell
                            <i class="nav-icon right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("GreivanceCellView","GrievanceCell")" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Grievance Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("GrievanceCellMembersDetails","GrievanceCell")" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Members Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("GrievanceAttachmentsView","GrievanceCell")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Files Attachments</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("NewsView","News")" class="nav-link">
                        <i class="nav-icon fas fa-newspaper"></i>
                        <p>
                            News
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("ImagesView","Images")" class="nav-link">
                        <i class="nav-icon fas fa-camera-retro"></i>
                        <p>
                            Images
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("GalleryView","CollegeGallery")" class="nav-link">
                        <i class="nav-icon fas fa-images"></i>
                        <p>
                            College Gallery
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("AchievementsView","Achievements")" class="nav-link">
                        <i class="nav-icon fa fa-trophy"></i>
                        <p>
                            Achievements
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("ContactInfoView","ContactInfo")" class="nav-link">
                        <i class="nav-icon fas fa-phone"></i>
                        <p>
                            Contact info
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>