@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CampusView"; }

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">View Campus Details</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6" style="margin-top:10px;">
                    <a href="@Url.Action("CampusAdd","Campus")">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle"></i></li>
                            <li>Add New Details</li>
                        </ol>
                    </a>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Department</th>
                                        <th>Edit</th>
                                        <th>Delete</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Computer lab no. 313</td>
                                        <td>lab</td>
                                        <td>Computer Engineering</td>
                                        <td><a href="@Url.Action("CampusAdd","Campus")"><i class="nav-icon fas fa-edit"></i></a></td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Computer lab no. 313</td>
                                        <td>lab</td>
                                        <td>Computer Engineering</td>
                                        <td><a href="@Url.Action("CampusAdd","Campus")"><i class="nav-icon fas fa-edit"></i></a></td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Computer lab no. 313.</td>
                                        <td>lab</td>
                                        <td>Computer Engineering</td>
                                        <td><a href="@Url.Action("CampusAdd","Campus")"><i class="nav-icon fas fa-edit"></i></a></td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Computer lab no. 313</td>
                                        <td>lab</td>
                                        <td>Computer Engineering</td>
                                        <td><a href="@Url.Action("CampusAdd","Campus")"><i class="nav-icon fas fa-edit"></i></a></td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>

                                    </tr>
                                    <tr>
                                        <td>Computer lab no. 313</td>
                                        <td>lab</td>
                                        <td>Computer Engineering</td>
                                        <td><a href="@Url.Action("CampusAdd","Campus")"><i class="nav-icon fas fa-edit"></i></a></td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Computer lab no. 313</td>
                                        <td>lab</td>
                                        <td>Computer Engineering</td>
                                        <td><a href="@Url.Action("CampusAdd","Campus")"><i class="nav-icon fas fa-edit"></i></a></td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>

                                    <tr>
                                        <td>Computer lab no. 313</td>
                                        <td>lab</td>
                                        <td>Computer Engineering</td>
                                        <td><a href="@Url.Action("CampusAdd","Campus")"><i class="nav-icon fas fa-edit"></i></a></td>
                                        <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!--ur contents here-->
                </div>
            </div>
        </div>
    </section>
</div>