@model List<BACKEND_HTML_DOT_NET.Models.NewsVM>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NewsList"; 
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>News Details</h1>
                </div>
                <div class="col-sm-6" style="margin-top:10px;">
                    <a href="@Url.Action("NewsAdd","News")">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle"></i></li>
                            <li>Add New Details</li>
                        </ol>
                    </a>
                </div>
                <div class="container-fluid">
                   
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title" style="font-size: 25px;">List Of News Details</h1>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">


                                <thead>
                                        <tr>
                                            <th>
                                                Id
                                            </th>
                                            <th>
                                                Title
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                             <th>View</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model){
                                    <tr>
                                        <td>
                                            @item.Id
                                        </td>
                                        <td>
                                            @item.Title
                                        </td>
                                        <td>
                                            @item.Description
                                        </td>
                                        <td>
                                            @item.Date
                                        </td>
                                         <td>
                                            <a href="@Url.Action("NewsView","News",new {@id=item.Id})" class="nav-icon fas fa-edit"></a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("NewsEdit","News",new {@id=item.Id})" class="nav-icon fas fa-edit"></a>
                                        </td>
                                        <td>
                                                <a href="javascript:void(0)" onclick="DeleteNews(@item.Id)"><i class="nav-icon fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                  }  
                                </tbody>
                               
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>
<!-- /.container-fluid -->
            
<!-- /.content -->

@section script{
    <script type="text/javascript">
        function DeleteNews(id) {
            if (id != null) {
                $.ajax({
                    url: '@Url.Action("NewsDelete","News")',
                    type: 'post',
                    data: { id: id },
                    success: function (data) {
                        if (data.success_code == "200") {
                            alert(data.message);
                            window.location.reload();
                        }

                    }
                });
            }
        }
    </script>
}