@model List<BACKEND_HTML_DOT_NET.Models.NewsVM>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NewsList"; 
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>News Details</h1>
                </div>
                <div class="col-sm-6" style="margin-top:10px;">
                    <a href="@Url.Action("NewsAdd","News")">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle"></i></li>
                            <li>Add New Details</li>
                        </ol>
                    </a>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List Of News Details</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="newsTable" class="table table-bordered table-hover">


                                <thead>
                                        <tr>
                                            <th>
                                                Id
                                            </th>
                                            <th>
                                                Title
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                             <th>View</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model){
                                    <tr>
                                        <td>
                                            @item.Id
                                        </td>
                                        <td>
                                            @item.Title
                                        </td>
                                        <td>
                                            @item.Description
                                        </td>
                                        <td>
                                            @item.Date
                                        </td>
                                         <td>
                                            <a href="@Url.Action("NewsView","News",new {@id=item.Id})" class="nav-icon fas fa-edit"></a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("NewsEdit","News",new {@id=item.Id})" class="nav-icon fas fa-edit"></a>
                                        </td>
                                        <td>
                                                <a href="javascript:void(0)" onclick="DeleteNews(@item.Id)"><i class="nav-icon fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                  }  
                                </tbody>
                                <thead>
                                    <tr>
                                        <th>
                                            Id
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>View</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>
<!-- /.container-fluid -->
            
<!-- /.content -->

@section script{
    <script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-responsive/js/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/jszip/jszip.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/pdfmake/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/pdfmake/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.colVis.min.js")"></script>


    <script type="text/javascript">
        $(function () {

            $("#newsTable").DataTable();

        });

    function DeleteNews(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }).then(function (isConfirm) {

                if (!isConfirm) return;
                if (id != null) {
                    $.ajax({
                        url: '@Url.Action("NewsDelete","News")',
                    type: 'post',
                    data: { id: id },
                    success: function (data) {
                        if (data.status_code == "200") {
                            Swal.fire(data.message, '', 'success')
                            window.setTimeout(window.location.reload(), 5000);

                        }

                    }
                });
            }
            });

        }
    </script>
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">
}