@model BACKEND_HTML_DOT_NET.Models.NewsVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NewsAdd";
}

<div class="content-wrapper">
    <!-- <h3 style="margin-left: 15px;">DEPARTMENT</h3> -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("NewsList","News")">
                    <ol class="breadcrumb float-sm-right">

                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i></li>
                        <li style="margin-left: 00px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add New News</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="newsaddform" method="post" role="form">
                        <div class="card-body">
                            <div class="row">



                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleInputText">ENTER TITLE OF NEWS</label>
                                        <input type="text" name="Title" class="form-control" id="title" placeholder="ENTER TITLE.. ">
                                    </div>
                                </div>
                               <div class="col-md-6">
                                   <label for="description">ENTER DESCRIPTION OF NEWS</label>
                                    <div id="summernote"></div>
                               </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="input-group col-12">
                                <div class="col-sm-6"><button type="button" id="btnSubmit" class="btn btn-primary float-right col-md-2">Submit</button></div>
                                <div class="col-sm-6"><button type="button" class="btn btn-default col-md-2">Clear</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </section>
</div>

@section script{
    <script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.min.js")"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote();

        });

    </script>

    <script type="text/javascript">


        $(document).ready(function () {
            //console.log( "ready!" );

            $('#newsaddform').validate({
                rules: {
                    "title": {
                        required: true
                    },
                    "description": {
                        required: true
                    }

                },
                messages: {
                    "title": {
                        required: "this field is required"
                    },
                    "description": {
                        required: "this field is required"
                    }
                }


            });

            $('#btnSubmit').click(function (e) {

                if ($('#newsaddform').valid()) {

                    var description = $("#summernote").summernote('code');
                    var title = document.getElementById("title").value;

                    var data = new FormData();

                    data.append("Description", description);
                    data.append("Title", title);
                    console.log(data)

                    $.ajax({
                        url: '@Url.Action("NewsAdd", "News")',
                        type: 'post',
                        data: data,
                        processData: false,
                        contentType: false,
                        cache: false,
                        success: function (data) {
                            if (data.status_code == "200") {
                                Swal.fire({
                                    title: "Added!",
                                    text: data.message,
                                    timer: 6000,
                                    icon: "success"
                                }).then(function () {
                                    $('#frmdepartment')[0].reset();
                                    window.location.href = '@Url.Action("NewsList","News")';
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "Failed!",
                                    text: data.message,
                                    timer: 6000,
                                    icon: "error"
                                });
                            }
                        }
                    });
                }

            });


        });

    </script>

}

    @section styles{
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">
}
