
@{
    ViewData["Title"] = "UserDetailList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Users Details</h1>
                </div>
                <div class="col-sm-6" style="margin-top:10px;">
                    <a href="@Url.Action("UserDetailAdd","UserDetails")">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle"></i></li>
                            <li>Add Details</li>
                        </ol>
                    </a>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List Of Users</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="userTable" class="table table-bordered table-hover">


                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Username</th>
                                        <th>Role</th>
                                        <th>View</th>
                                        <th>Reset Password</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.Id
                                            </td>
                                            <td>
                                                @item.Username
                                            </td>
                                            <td>
                                                @item.Role
                                            </td>
                                            <td>
                                                <a href="@Url.Action("UserDetailView","UserDetails",new {@id=item.Id})" class="nav-icon fas fa-edit"></a>
                                            </td>
                                            <td>
                                                @*<a href="@Url.Action("UserDetailUpdate","UserDetails",new {@id=item.Id})" class="nav-icon fas fa-edit"></a>*@
                                                <a href="javascript:void(0)" onclick="UserDetailUpdate(@item.Id)"><i class="nav-icon fas fa-unlock"></i></a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" onclick="DeleteUserDetail(@item.Id)"><i class="nav-icon fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Username</th>
                                        <th>Role</th>
                                        <th>View</th>
                                        <th>Reset Password</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                            </table>
                            <span class="text-danger">* Default Password is gecp@123</span>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>
<!-- /.container-fluid -->
<!-- /.content -->
@section script{
    <script>
        jQuery(function ($) {
            function AddReadMore() {
                var carLmt = 10;
                var readMoreTxt = " ...read more";

                var readLessTxt = " read less";
                $(".add-read-more").each(function () {
                    if ($(this).find(".first-section").length)
                        return;

                    var allstr = $(this).text();
                    if (allstr.length > carLmt) {
                        var firstSet = allstr.substring(0, carLmt);
                        var secdHalf = allstr.substring(carLmt, allstr.length);
                        var strtoadd = firstSet + "<span class='second-section'>" + secdHalf + "</span><span class='read-more'  title='Click to Show More'>" + readMoreTxt + "</span><span class='read-less' title='Click to Show Less'>" + readLessTxt + "</span>";
                        $(this).html(strtoadd);
                    }
                });

                $(document).on("click", ".read-more,.read-less", function () {
                    $(this).closest(".add-read-more").toggleClass("show-less-content show-more-content");
                });
            }

            AddReadMore();
        });
    </script>
    <script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-responsive/js/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/jszip/jszip.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/pdfmake/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/pdfmake/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/css/plugins/datatables-buttons/js/buttons.colVis.min.js")"></script>


    <script type="text/javascript">
        $(function () {

            $("#userTable").DataTable({ "responsive": true, "lengthChange": false, "autoWidth": false });

        });

        function DeleteUserDetail(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }).then(function (isConfirm) {
                var isCancel = !isConfirm == false && isConfirm['dismiss'] == 'cancel' ? true : false;
                //if (!isConfirm) return;
                if (isCancel == false && id != null) {
                    $.ajax({
                        url: '@Url.Action("UserDetailDelete","UserDetails")',
                        type: 'post',
                        data: { id: id },
                        success: function (data) {
                            if (data.status_code == "200") {
                                Swal.fire(data.message, '', 'success')
                                window.setTimeout(window.location.reload(), 5000);

                            }

                        }
                    });
                }
            });

        }
        function UserDetailUpdate(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "You will not be able to recover password",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Reset",
                closeOnConfirm: false
            }).then(function (isConfirm) {

                if (!isConfirm) return;
                if (id != null) {
                    $.ajax({
                        url: '@Url.Action("UserDetailUpdate","UserDetails")',
                        type: 'post',
                        data: { id: id },
                        success: function (data) {
                            if (data.status_code == "200") {
                                Swal.fire(data.message, '', 'success')
                                window.setTimeout(window.location.reload(), 5000);

                            }

                        }
                    });
                }
            });

        }
    </script>
}

    @section styles{
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">
    <style>
        .add-read-more.show-less-content .second-section,
        .add-read-more.show-less-content .read-less {
            display: none;
        }

        .add-read-more.show-more-content .read-more {
            display: none;
        }

        .add-read-more .read-more,
        .add-read-more .read-less {
            font-weight: bold;
            margin-left: 2px;
            color: blue;
            cursor: pointer;
        }</style>
}

