@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GreivanceCellView"; }


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"> View Grievance Cell Details</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6" style="margin-top:10px;">
                    <a href="@Url.Action("GreivanceCellAdd","GrievanceCell")">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle"></i></li>
                            <li>Add New Details</li>
                        </ol>
                    </a>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Grievance Cell Details List</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>En. No.</th>
                                                <th>Reason</th>
                                                <th>Department</th>
                                                <th>Status</th>
                                                @*<th>View</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>170220107030</td>
                                                <td>Drinking Water is not Clean</td>
                                                <td>Computer Department</td>
                                                <td>Checked</td>
                                                <td>
                                                    <a href="../greivanceCell/greivanceCell_complaint_view.html"
                                                       class="nav-icon fas fa-eye"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>170220107030</td>
                                                <td>Drinking Water is not Clean</td>
                                                <td>Computer Department</td>
                                                <td>Checked</td>
                                                <td>
                                                    <a href="@Url.Action("GreivanceCellComplaintView","GrievanceCell")"
                                                       class="nav-icon fas fa-eye"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>170220107030</td>
                                                <td>Drinking Water is not Clean</td>
                                                <td>Computer Department</td>
                                                <td>Checked</td>
                                                <td>
                                                    <a href="@Url.Action("GreivanceCellComplaintView","GrievanceCell")"
                                                       class="nav-icon fas fa-eye"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>170220107030</td>
                                                <td>Drinking Water is not Clean</td>
                                                <td>Computer Department</td>
                                                <td>Checked</td>
                                                <td>
                                                    <a href="@Url.Action("GreivanceCellComplaintView","GrievanceCell")"
                                                       class="nav-icon fas fa-eye"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>170220107030</td>
                                                <td>Drinking Water is not Clean</td>
                                                <td>Computer Department</td>
                                                <td>Checked</td>
                                                <td>
                                                    <a href="@Url.Action("GreivanceCellComplaintView","GrievanceCell")"
                                                       class="nav-icon fas fa-eye"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>170220107030</td>
                                                <td>Drinking Water is not Clean</td>
                                                <td>Computer Department</td>
                                                <td>Checked</td>
                                                <td>
                                                    <a href="@Url.Action("GreivanceCellComplaintView","GrievanceCell")"
                                                       class="nav-icon fas fa-eye"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>170220107030</td>
                                                <td>Drinking Water is not Clean</td>
                                                <td>Computer Department</td>
                                                <td>Checked</td>
                                                <td>
                                                    <a href="@Url.Action("GreivanceCellComplaintView","GrievanceCell")" class="nav-icon fas fa-eye"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>170220107030</td>
                                                <td>Drinking Water is not Clean</td>
                                                <td>Computer Department</td>
                                                <td>Checked</td>
                                                <td>
                                                    <a href="@Url.Action("GreivanceCellComplaintView","GrievanceCell")"
                                                       class="nav-icon fas fa-eye"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>En. No.</th>
                                                <th>Reason</th>
                                                <th>Department</th>
                                                <th>Status</th>
                                                @*<th>View</th>*@
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>