@model BACKEND_HTML_DOT_NET.Models.PlacementVM
@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "PlacementAdd"; }


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("PlacementView","PlacementCell")">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i></li>
                        <li style="margin-left: px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- your contents here -->
                            <!-- form start -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Add New Placement Details</h3>
                                </div>
                                <form role="form" id="frmPlacement">
                                    <div class="card-body">
                                        <div class="form-group row justify-content-center">
                                            <div class="col-11">
                                                <div class="form-group">
                                                    <!---->
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="col-md-4">
                                                                <label for="ddlCompany">Company Name</label>
                                                                <select class="form-control select2" style="width: 100%;" id="CompanyId" name="CompanyId">
                                                                    <option>Select Company</option>
                                                                    @foreach (var item in Model.CompanyList)
                                                                    {
                                                                        <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                                                                    }
                                                                </select>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <label for="ddlDepartment">Department Name</label>
                                                                <select class="form-control select2" style="width: 100%;" id="DeptId" name="DeptId">
                                                                    <option>Select Department</option>
                                                                    @foreach (var item in Model.DepartmentList)
                                                                    {
                                                                        <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label for="StudentName">Students Name</label>
                                                                <input type="text" class="form-control" name="StudentName" id="StudentName" placeholder="Student Name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">

                                                        <div class="input-group">
                                                            <div class="col-md-3">
                                                                <label for="exampleInputFile">
                                                                    StudentPic
                                                                </label>
                                                                <div class="input-group">
                                                                    <div class="custom-file">
                                                                        
                                                                        <input type="file" name="StudentPic" class="custom-file-input"
                                                                               id="StudentPic">
                                                                        <label class="custom-file-label"
                                                                               for="exampleInputFile">
                                                                            Choose
                                                                            file
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3">
                                                                <label for="AnnualPackage">Annual Package</label>
                                                                <input type="number" class="form-control" id="AnnualPackage" name="AnnualPackage" placeholder="Annual Package">
                                                            </div>

                                                            <div class="col-md-3">
                                                                <label for="MonthlyPackage">Monthly Package</label>
                                                                <input type="number" class="form-control" id="MonthlyPackage" name="MonthlyPackage" placeholder="Monthly Package">
                                                            </div>

                                                            <div class="col-md-3">
                                                                <label for="dateofcampus">Date Of Campus</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">
                                                                            <i class="far fa-calendar-alt"></i>
                                                                        </span>
                                                                    </div>
                                                                    <input id="PlacementDate" name="PlacementDate" type="text" class="form-control datemask" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <div class="input-group col-12">
                                            <div class="col-sm-6"><button type="button" id="btnSubmit" class="btn btn-primary float-right col-md-2">Submit</button></div>
                                            <div class="col-sm-6"><button type="clear" class="btn btn-primary col-md-2">Clear</button></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card -->

                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

@section script{
    <script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#PlacementDate").datepicker();
            $("#btnSubmit").click(function () {
                var data = new FormData($('#frmPlacement')[0]);
                //var data = $('#frmPlacement').serialize();
                $.ajax({
                    url: '@Url.Action("PlacementAdd","PlacementCell")',
                    type: 'post',
                    processData: false,
                    contentType: false,
                    cache: false,
                    data: data,
                    success: function (data) {
                        if (data.status_code == "200") {
                            console.log("Success")
                                Swal.fire({
                                    title: "Added!",
                                    text: data.message,
                                    timer: 6000,
                                    icon: "success"
                                }).then(function () {
                                $('#frmPlacement')[0].reset();
                                window.location.href = '@Url.Action("PlacementView","PlacementCell")';
                                });
                        }
                        else {
                            Swal.fire({
                                title: "Failed!",
                                text: data.message,
                                timer: 6000,
                                icon: "error"
                            });
                        }
                    }
                });
            });
    })
    </script>
    <script>
        $(function () {
            bsCustomFileInput.init();
        });
    </script>
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">
}
