@model List<BACKEND_HTML_DOT_NET.Models.FacultyDetailsVM>

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FacultyList"; }

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Faculties</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6" style="margin-top:10px;">
                    <a href="@Url.Action("FacultyAdd","FacultyDetails")">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle"></i></li>
                            <li>Add New Details</li>
                        </ol>
                    </a>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Faculties Lists</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>DeptId</th>
                                        <th>DesignationId</th>
                                        <th>View</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.Id
                                            </td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.DeptId
                                            </td>
                                            <td>
                                                @item.DesignationId
                                            </td>
                                            <td>
                                                <a href="@Url.Action("FacultyDetail","FacultyDetails",new {@id=item.Id})" class="nav-icon fas fa-eye"></a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("FacultyEdit","FacultyDetails",new {@id=item.Id})" class="nav-icon fas fa-edit"></a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" onclick="DeleteFaculty(@item.Id)"><i class="nav-icon fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Designation</th>
                                        <th>Department</th>
                                        <th>Gender</th>
                                        <th>View</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
@section script{
    <script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.min.js")"></script>
    <script type="text/javascript">
        function DeleteFaculty(id) {
            //Swal.fire({
            //    title: 'Are you sure you want to delete this faculty?',
            //    showDenyButton: true,
            //    showCancelButton: true,
            //    confirmButtonText: 'Yes',
            //    denyButtonText: `No`,
            //}).then(function (isConfirmed) {
            //    /* Read more about isConfirmed, isDenied below */




            //}).then(function (isDenied) {
            //    Swal.fire('Changes are not saved', '', 'info')
            //});

            Swal.fire({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }).then(function (isConfirm) {

                if (!isConfirm) return;
                if (id != null) {
                        $.ajax({
                            url: '@Url.Action("FacultyDelete","FacultyDetails")',
                            type: 'post',
                            data: { id: id },
                            success: function (data) {
                                if (data.status_code == "200") {
                                    Swal.fire(data.message, '', 'success')
                                    window.setTimeout(window.location.reload(), 5000);

                                }

                            }
                        });
                    }
                //$.ajax({
                //    url: "scriptDelete.php",
                //    type: "POST",
                //    data: {
                //        id: 5
                //    },
                //    dataType: "html",
                //    success: function () {
                //        swal("Done!", "It was succesfully deleted!", "success");
                //    },
                //    error: function (xhr, ajaxOptions, thrownError) {
                //        swal("Error deleting!", "Please try again", "error");
                //    }
                //});
            });

    }
    </script>
}
@section styles{
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">
}