@model BACKEND_HTML_DOT_NET.Models.FacultyDetailsVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FacultyAdd";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("FacultyList","FacultyDetails")">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i> </li>
                        <li style="margin-left: 00px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- your contents here -->
                            <!-- form start -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Edit Faculty</h3>
                                </div>
                                <form id="facultyedit" name="facultyedit" role="form">
                                    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                                    <div class="card-body">
                                        <div class="form-group">

                                            @*<div class="form-group">
                                            <div class="input-group col-12">

                                            <div class="col-md-3">
                                            <label for="department">Honorifics </label>
                                            <select name="Honorifics" id="honorifics" class="form-control">
                                            <option>Select Honorifics</option>

                                            <option value="Dr.">Dr.</option>
                                            <option value="Mr.">Mr.</option>
                                            <option value="Miss.">Miss.</option>
                                            <option value="Mrs.">Mrs.</option>

                                            </select>
                                            </div>

                                            </div>
                                            </div>
                                            *@

                                            <!-- Name Controls -->


                                            <div class="input-group col-12">

                                                <div class="col-md-6">
                                                    <label for="name">Name</label>
                                                    <input name="name" type="text" class="form-control" id="Name" value="@Model.Name"
                                                           placeholder="Name">
                                                </div>

                                                <div class="col-md-6">
                                                    <label for="ddldesgn">Designation</label>
                                                    <input name="DesignationId" type="text" class="form-control" id="DesignationId" value="@Model.Designation"
                                                           placeholder="Designation">
                                                </div>
                                            </div>


                                            <div class="input-group col-12 p-2"  >

                                                <div class="col-md-6">
                                                    <label for="department">Department ID</label>

                                                    <select name="Department" id="department" class="form-control">
                                                        <option>Select Department</option>
                                                        @foreach (var item in Model.DepartmentSelectList)
                                                        {
                                                            bool selected = item.Value == Model.DeptId.ToString() ? true : false;
                                                            <option value="@item.Value" selected="@selected"> @item.Text</option>
                                                        }
                                                    </select>
                                                </div>


                                                <div class="col-md-6">
                                                    <label for="Image">Banner</label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" name="Image" class="custom-file-input" id="Image">
                                                            <label class="custom-file-label" for="Image">
                                                                Choose
                                                                file
                                                            </label>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <div class="input-group col-12">
                                            <div class="col-sm-6">
                                                <button type="button"
                                                        class="btn btn-primary float-right col-md-2" id="btnSubmit">
                                                    Reset
                                                </button>
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="button" id="btnclear"
                                                        class="btn btn-default col-md-2">
                                                    Clear
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card -->

                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

@section script{
    <script src="@Url.Content("~/css/plugins/sweetalert2/sweetalert2.min.js")"></script>

    <script type="text/javascript">

        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        $(function () {
            bsCustomFileInput.init();
        });

        $(document).ready(function () {
            //console.log( "ready!" );

            $('#facultyedit').validate({
                rules: {
                    "name": {
                        required: true
                    },
                    "DesignationId": {
                        required: true
                    },
                    "deptid": {
                        required: true
                    },
                    "Honorifics": {
                        required: true
                    }

                },
                messages: {
                    "name": {
                        required: "this field is required"
                    },
                    "DesignationId": {
                        required: "this field is required"
                    },
                    "deptid": {
                        required: "this field is required"
                    },
                    "Honorifics": {
                        required: "This field is required"
                    }
                }


            });

            $('#btnSubmit').click(function (e) {


                if ($('#facultyedit').valid()) {


                    //var Honorifics = document.getElementById("honorifics").value;
                    var Name = document.getElementById("Name").value;
                    //var FullName = Honorifics.concat(" ", Name);

                    var DesignationId = document.getElementById("DesignationId").value;
                    var deptid = document.getElementById("department").value;
                    var id = $("#Id").val();


                    //var data = $('#department').serialize();
                    var data = new FormData();
                    var totalFiles = document.getElementById("Image").files.length;
                    for (var i = 0; i < totalFiles; i++) {
                        var file = document.getElementById("Image").files[i];
                        data.append("image", file);
                    }

                    data.append("Name", Name);
                    data.append("Designation", DesignationId);
                    data.append("DeptId", deptid);
                    data.append("Id", id);

                    loaderStart();
                    $.ajax({
                        url: '@Url.Action("FacultyUpdate","FacultyDetails")',
                        type: 'post',
                        data: data,
                        processData: false,
                        contentType: false,
                        cache: false,
                        success: function (data) {
                            setTimeout(loaderStop(), 2000);
                            if (data.status_code == "200") {
                                Toast.fire({
                                    icon: 'success',
                                    title: data.message
                                }).then(function () {
                                    $('#facultyedit')[0].reset();
                                    window.location.href = '@Url.Action("FacultyList","FacultyDetails")';
                                });
                            }
                            else {
                                Toast.fire({
                                    icon: 'error',
                                    title: data.message
                                })
                            }
                        }
                    });
                }

            });
            $("#btnclear").click(function (e) {
                $("#facultyedit")[0].reset();
            });


        });

    </script>

}
@section styles{
    <link rel="stylesheet" href="@Url.Content("~/css/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")">
}